.sideBar
  .sideBar__nav
  %ul.sideBar__nav__group
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          マイページ
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          お知らせ
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          いいね！一覧
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          出品する
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          下書き一覧
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          出品した商品 - 出品中
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          出品した商品 - 取引中
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          出品した商品 - 売却済み
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          購入した商品 - 取引中
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          購入した商品 - 過去の取引
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          ニュース一覧
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          評価一覧
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          ガイド
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          お問い合わせ
  %h3.sideBar__nav__head
    メルペイ
  %ul.sideBar__nav__group
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          売上・振込申請
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          ポイント
  %h3.sideBar__nav__head
    設定
  %ul.sideBar__nav__group
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          プロフィール
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          発送元・お届け先住所変更
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          支払い方法
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          メール/パスワード
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          本人情報
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          電話番号の確認
    %li.sideBar__nav__group__list
      %p.sideBar__nav__group__list__detail
        =link_to "#" do
          ログアウト