.sideBar
  .sideBar__nav
  %ul.sideBar__nav__group
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          マイページ
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          お知らせ
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          いいね！一覧
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          出品する
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          下書き一覧
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          出品した商品 - 出品中
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          出品した商品 - 取引中
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          出品した商品 - 売却済み
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          購入した商品 - 取引中
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          購入した商品 - 過去の取引
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          ニュース一覧
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          評価一覧
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          ガイド
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          お問い合わせ
          %i.fas.fa-angle-right
  %h3.sideBar__nav__head
    メルペイ
  %ul.sideBar__nav__group
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          売上・振込申請
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          ポイント
          %i.fas.fa-angle-right
  %h3.sideBar__nav__head
    設定
  %ul.sideBar__nav__group
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          プロフィール
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          発送元・お届け先住所変更
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to pays_path do
        %p.sideBar__nav__group__list__detail
          支払い方法
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          メール/パスワード
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          本人情報
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to "#" do
        %p.sideBar__nav__group__list__detail
          電話番号の確認
          %i.fas.fa-angle-right
    %li.sideBar__nav__group__list
      =link_to logout_users_path do
        %p.sideBar__nav__group__list__detail
          ログアウト
          %i.fas.fa-angle-right