%main
  .both
    = render "sideBar"
    .card
      .card__top
        %p.card__top__title
          支払い方法
      .card__under
        .card__under__text
          %p.card__under__text__sentence
            =link_to "#" do
              クレジットカードを追加する
                