= render '/shared/breadCrumbs/index'
%main
  .both
    = render "sideBar"
    .card
      .card__top
        %p.card__top__title
          支払い方法
      .card__under
        =link_to "#" do
          .card__under__text
            %p.card__under__text__sentence
              %i.fas.fa-credit-card
              クレジットカードを追加する