.breadCrumbs
  %ul
    %li
      = link_to "FURIMA", root_path
    %li
      %i.fa.fa-angle-right
    %li
      = link_to @item.category.parent.parent.name, category_path(@item.category.parent.parent.id)
    %li
      %i.fa.fa-angle-right
    %li
      = link_to @item.category.parent.name, category_path(@item.category.parent.id)
    %li
      %i.fa.fa-angle-right
    %li
      = @item.category.name