main {
  background-color: #eee;
  .both{
    display: flex;
    padding: 40px 200px;
    .card {
      height: 100vh;
      padding-bottom: 50px;
      &__top {
        width: 700px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        text-align: center;
        background-color: white;
        border-bottom: solid 2px #eee;
        margin: 10px;
        font-size: 21px;
      }
      &__under {
        width: 700px; 
        background-color: white;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-top: -10px;
        padding-bottom: 50px;
        a {
          color: white;
        }
        &__main {
          padding: 50px 100px 0px 100px;
          &__index {
            font-weight: bold;
            padding: 0 100px;
          }
          &__lists {
            border-top: 1px solid #eee;
            margin-top: 20px;
            &__list {
              border-bottom: 1px solid #eee;
              margin: 5px 0;
              padding: 5px 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &__left {
                &__icon {
                  font-weight: bold;
                }
                &__num {
                  font-size: 16px;
                  color: #696969;
                }
                &__days{
                  color: #696969;
                }
              }
              &__delete {
                input {
                  color:#d22f28;
                  border: 1px solid #d22f28;
                  border-radius: 4px;
                  padding: 5px;
                }
              }
            }
          }
        }
        &__form{
          border-bottom: solid 1px #eee;
          padding: 20px 0 ;
        &__text {
          height: 50px;
          width: 300px;
          background-color: #d22f28;
          line-height: 50px;
          text-align: center;
          margin-top: 10px;
          margin: 0 auto;         
        }
        .card__under__text__sentence{
          border: solid 1px red;
         text-align: center;
         background-color: red;
         line-height: 48px;
         max-width: 320px;
         margin: 0 auto;        
        }
       .fas.fa-credit-card {
          margin-right: 20px;
        }
      }
      }
    }
  }
}