.catedory
  .category__index
    .category__index__title
      ブランド一覧
    - @brands.each do |brand|
      .category__index__one
        = brand.name

  .category__contents
    .category__contents__content
      - @brands.each do |brand|
        = link_to brand_path(brand.id) do
          .category__contents__content__list
            = brand.name