.bategory
  .bategory__index
    .bategory__index__title
      ブランド一覧
    - @brands.each do |brand|
      .bategory__index__one
        = brand.name

  .bategory__contents
    .bategory__contents__content
      .bategory__contents__content__list
        - @brands.each do |brand|
          = link_to brand_path(brand.id), class: :bategory__contents__content__list__name do
            = brand.name