.bategory
  .bategory__index
    .bategory__index__title
      ブランド一覧
    - @brands.each do |brand|
      .bategory__index__one
        = brand.name

  .bategory__contents
    .bategory__contents__content
      - @brands.each do |brand|
        = link_to brand_path(brand.id) do
          .bategory__contents__content__list
            = brand.name