.appDl
  .appDl__content
    .appDl__content__top
      だれでもかんたん、人生を変えるフリマアプリ
    .appDl__content__middle
      今すぐ無料ダウンロード！
    .appDl__content__btn
      = link_to "#" do
        = image_tag 'https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg',alt: "AppStoreで入手"
      = link_to "#" do
        = image_tag '/images/google-play-badge.png'